[submodule "lab/la-cosa-back"]
	path = lab/la-cosa-back
	url = git@github.com:ing-soft-1-swifties/la-cosa-back.git
[submodule "lab/la-cosa-front"]
	path = lab/la-cosa-front
	url = git@github.com:ing-soft-1-swifties/la-cosa-front.git
